@use '_palette';

.container {
  height: 70vh;
  width: 700px;
  padding: 21px;
  margin: 5% auto;
  border: 1px solid palette.$main;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
}
